- if current_user.approved
  - if @announcements.length > 0
    #news
      %h2 News
      .indent
        - @announcements.each do |a|
          = render :partial => "announcement", locals: {announcement: a}
        .previous_news= link_to "Previous News", home_news_path
      %hr

  - if current_user.has_role?("institution-admin")
    - if current_user.institution.users_awaiting_approval.count > 0
      %h3 Pending Tasks:
      .indent#pending_tasks
        %ul
          - if current_user.institution.users_awaiting_approval.count > 0
            %li#pending_approvals
              %p{:style => "color: salmon;"} The following users are waiting to be approved:
              .indent
                %table
                  - current_user.institution.users_awaiting_approval.each do |user|
                    %tr
                      %td= user.name
                      %td
                        %a{:href => "mailto:"+user.email}= user.email
                      %td= link_to 'Edit User To Approve', edit_user_path(user)

  #quick_start
    %h3 Quick Start:
    .indent
      #quick_start_grid
        .grid-item{:onclick => "window.open('https://drive.google.com/file/d/0B5s6JfQGMZhDRFd1ZkFXMUxMT2s/view');"}
          .inner-grid= link_to "Read the Manual", "https://drive.google.com/file/d/0B5s6JfQGMZhDRFd1ZkFXMUxMT2s/view"
        .grid-item{:onclick => "location.href='#{diagrams_path}';"}
          .inner-grid= link_to "Browse Diagrams", diagrams_path
        - if policy(Diagram).create?
          .grid-item{:onclick => "location.href='#{new_diagram_path}';"}
            .inner-grid= link_to "Create a Diagram", new_diagram_path
  #browse
    %h3 Diagram Categories:
    .indent
      #diagram_category_grid
        - @categories.each do |category|
          .grid-item{:onclick => "location.href='#{diagrams_path(:category => category)}';"}
            .inner-grid= link_to (category == "" ? "Uncategorized" : category), diagrams_path(:category => category)
- else
  %p{:style => "color: red;"} Your account has not been approved by an admin. The admins for your insitution are:
  .indent
    %table
      - current_user.institution.admins.each do |admin|
        %tr
          %td= admin.name
          %td{:style => "padding-left: 10px"}
            %a{:href => "mailto:"+admin.email}= admin.email

%div{:style => "height:20px;"}
